
#pollContainer{
  width: 90vw;
  height: 70vh;
  border: solid 2px;
}

.poll{
  height:1em;
  margin-top: 1em;
  background-color: blue;
  color: red;
  transition: width 1s;
}

#buttons{
  text-align: center;
  display: inline-block;
  margin-top: 2vh;
  width: 90vw;
  height: 10vh;
}

.button{
  display: inline-block;
  border: solid 1px;
  width: 20%;
  height: 100%; 
  cursor: pointer;
  margin-left: 1em;
}

