html{
  width: 100vw;
  height: 100vh;
}
h1{
  text-align: center;
}
#testMessage{
    height: auto;
    max-height: 60vh;
    width: 100%;
    overflow: auto;
}

.myMessage{
    background-color: rebeccapurple;
    color: white;
    text-align: right;
    text-indent: 0.5vw;
    padding: 0.4vh;
    width: auto;
    max-width: 60vw;
    margin-left: auto;
    margin-right: 0;
    border-radius: 10px;
    word-break: break-all;
    white-space: pre-line;
}

.otherMessage{
    background-color: darkseagreen;
    color: white;
    text-align: left;
    text-indent: 0.5vw;
    padding: 0.4vh;
    width: auto;
    max-width: 60vw;
    margin-left: 0;
    margin-right: auto;
    border-radius: 10px;
    word-break: break-all;
    white-space: pre-line;
}
.message{
margin-bottom: 1em;  
}
input[type=text]{
    width: 50vw;
    height: 2em;
}

.message > img{
width: auto;
height: auto;
max-width: 60vw;
max-height: 50vh;
overflow: none;

}

@media screen and (min-width: 900px){
  input[type=text]{
      width: 100%;
      font-size: 3em;
  }
  .otherMessage{

    font-size: 2em;

  }
  .myMessage{

    font-size: 2em;
  }

}

